<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Admin</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body class="admin-page">

<header class="admin-navbar">
    <h2>Administration</h2>
    <div class="burger" onclick="toggleSidebar()">☰</div>
    <div class="admin-user">
        <i class="fa fa-user-circle"></i>
        Administrateur
    </div>
</header>

<div class="admin-layout">

    <!-- MENU -->
    <aside class="admin-sidebar">
        <a href="{{ url_for('admin') }}">Dashboard</a>
        <a href="{{ url_for('gerer_formations') }}"><i class="fa fa-graduation-cap"></i> Formations</a>
        <a href="{{ url_for('gerer_actualites') }}">Actualités</a>
        <a href="{{ url_for('gerer_activites') }}"><i class="fa fa-calendar"></i> Activités</a>
        <a href="{{ url_for('gerer_photos') }}"><i class="fa fa-image"></i>photos</a>
        <a href="{{ url_for('login') }}"><i class="fa fa-right-from-bracket"></i> Déconnexion</a>
    </aside>

    <!-- CONTENU -->
    <main class="admin-content">
        <h1 class="admin-title">Tableau de bord</h1>
        <p>Bienvenue dans votre espace administrateur.</p>

        <div class="admin-cards">

            <div class="admin-card">
                <i class="fa fa-graduation-cap"></i>
                <h3>Formations</h3>
                <strong>5</strong>
                <a href="{{ url_for('gerer_formations') }}">Gérer →</a>
            </div>

            <div class="admin-card">
                <i class="fa fa-newspaper"></i>
                <h3>Actualités</h3>
                <strong>10</strong>
                <a href="{{ url_for('gerer_actualites') }}">Gérer →</a>
            </div>

            <div class="admin-card">
                <i class="fa fa-calendar"></i>
                <h3>Activités</h3>
                <strong>8</strong>
                <a href="{{ url_for('gerer_activites') }}">Gérer →</a>
            </div>

            <div class="admin-card">
                <i class="fa-solid fa-images"></i>
                <h3>Photos</h3>
                <strong>8</strong>
                <a href="{{ url_for('gerer_photos') }}">Gérer →</a>
            </div>

        </div>
    </main>
</div>

</body>
</html>

