<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gestion Actualités</title>

    <link rel="stylesheet" href="../admin/style.css">

</head>


<body class="admin-page">


<header class="admin-navbar">

    <h2>Administration</h2>

    <div class="admin-user">
        Administrateur
    </div>

</header>



<div class="admin-layout">


<!-- MENU -->

<aside class="admin-sidebar">

<a href="/dashboard">
Dashboard
</a>

<a href="/formations">
Formations
</a>

<a href="/actualites" class="active">
Actualités
</a>

<a href="/activites">
Activités
</a>

<a href="/galerie">
Photos
</a>


<button class="admin-logout">
Déconnexion
</button>

</aside>



<!-- CONTENU -->

<main class="admin-content">


<h1 class="admin-title">
Gestion des actualités
</h1>



<section class="admin-table-box">


<a href="/ajouter_actualite">

<button class="admin-btn">
+ Ajouter une actualité
</button>

</a>



<table>


<tr>

<th>Titre</th>

<th>Description</th>

<th>Date</th>

<th>Actions</th>

</tr>



{% for actualite in actualites %}

<tr>

<td>
{{ actualite.titre }}
</td>


<td>
{{ actualite.description }}
</td>


<td>
{{ actualite.date }}
</td>


<td>


<a href="/modifier_actualite/{{actualite.id}}">

<button class="edit">
Modifier
</button>

</a>



<a href="/supprimer_actualite/{{actualite.id}}">

<button class="delete">
Supprimer
</button>

</a>


</td>


</tr>


{% endfor %}


</table>


</section>


</main>


</div>



</body>

</html>