<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Activites</title>
    <!-- Lien vers ton CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body class="admin-page">

<header class="admin-navbar">
    <h2>Administration</h2>
    <div class="admin-user">Administrateur</div>
</header>

<div class="admin-layout">

    <!-- MENU -->
    <div class="admin-toggle" id="admin-toggle">☰</div>
    <aside class="admin-sidebar" id="admin-sidebar">
        <a href="{{ url_for('admin_dashboard') }}"><i class="fa fa-home"></i> Dashboard</a>
        <a href="{{ url_for('gerer_actualites') }}" class="active">Actualités</a>
        <a href="{{ url_for('gerer_activites') }}">Activités</a>
        <a href="{{ url_for('gerer_formations') }}">Formations</a>
        <a href="{{ url_for('gerer_photos') }}">Photos</a>
        <button class="admin-logout">Déconnexion</button>
    </aside>

    <!-- CONTENU -->
    <main class="admin-content">
        <h1 class="admin-title">Gestion des activites</h1>

        <section class="admin-table-box">
            <button class="admin-btn" onclick="ouvrirAjout()">+ Ajouter une activite</button>

            <h2>Liste des activites</h2>

            <table>
                <tr>
                    <th>Titre</th>
                    <th>Date</th>
                    <th>Lieu</th>
                    <th>Organisateur</th>
                    <th>Description</th>
                    <th>Photo</th>
                    <th>Actions</th>
                </tr>

                {% for activite in activites %}
                <tr>
                    <td>{{ activite.titre }}</td>
                    <td>{{ activite.date }}</td>
                    <td>{{ activite.lieu }}</td>
                    <td>{{ activite.organisateur }}</td>
                    <td>{{ activite.description }}</td>
                    <td>
                        {% if activite.photo %}
                            <img src="{{ activite.photo }}" class="admin-image">
                        {% else %}
                            Aucune
                        {% endif %}
                    </td>
                    <td>
                        <button class="edit"
                            onclick="ouvrirModification(
                                '{{ activite.id }}',
                                '{{ activite.titre }}',
                                '{{ activite.lieu }}',
                                '{{ activite.organisateur }}',
                                '{{ activite.date }}',
                                '{{ activite.description }}',
                                '{{ activite.photo }}'
                            )">
                            Modifier
                        </button>

                        <form method="POST" action="{{ url_for('supprimer_activite', id=activite.id) }}" style="display:inline;">
                            <button class="delete">Supprimer</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </section>
    </main>
</div>

<!-- POPUP AJOUT -->
<div id="modalAjout" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fermerAjout()">×</span>
        <h2>Ajouter une activite</h2>
        <form method="POST" action="{{ url_for('ajouter_activite') }}">
            <input class="admin-input" name="titre" placeholder="Titre" required>
            <input class="admin-input" name="date" type="date" required>
            <input class="admin-input" name="lieu"  required>
            <input class="admin-input" name="organisateur"  required>
            <textarea class="admin-input" name="description" placeholder="Description"></textarea>
            <input class="admin-input" name="photo" placeholder="Lien de la photo">
            <button class="admin-btn">Ajouter</button>
        </form>
    </div>
</div>

<!-- POPUP MODIFICATION -->
<div id="modalModification" class="modal">
    <div class="modal-content">
        <span class="close" onclick="fermerModification()">×</span>
        <h2>Modifier une activite</h2>
        <form id="formModification" method="POST">
            <input id="modTitre" class="admin-input" name="titre">
            <input id="modDate" class="admin-input" name="date" type="date">
            <input id="modLieu" class="admin-input" name="lieu" type="lieu">
            <input id="modOrganisateur" class="admin-input" name="organisateur">
            <textarea id="modDescription" class="admin-input" name="description"></textarea>
            <input id="modPhoto" class="admin-input" name="photo">
            <button class="admin-btn">Enregistrer</button>
        </form>
    </div>
</div>

<script>
function ouvrirAjout() {
    document.getElementById("modalAjout").style.display="flex";
}
function fermerAjout() {
    document.getElementById("modalAjout").style.display="none";
}
function ouvrirModification(id,titre,date,lieu,organisateu, description,photo) {
    document.getElementById("modalModification").style.display="flex";
    document.getElementById("modTitre").value=titre;
    document.getElementById("modDate").value=date;
    document.getElementById("modLieu").value=lieu;
    document.getElementById("modOrganisateur").value=organisateur;
    document.getElementById("modDescription").value=description;
    document.getElementById("modPhoto").value=photo;
    document.getElementById("formModification").action = "/admin/modifier_activite/" + id;
}
function fermerModification() {
    document.getElementById("modalModification").style.display="none";
}
</script>

<script>
    const adminToggle = document.getElementById("admin-toggle");
    const admin = document.getElementById("admin-sidebar");

    adminToggle.addEventListener("click", () => {
    admin.classList.toggle("active");
    });
</script>

</body>
</html>