<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Administrateur - UFR STA</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body class="admine-page">

    <div class="admin-card admin-login-card">

        <h1 class="admin-title">Connexion Admin</h1>

        <form class="admin-form">

            <div>
                <label>Email</label>
                <input 
                    class="admin-input" 
                    type="email" 
                    placeholder="Entrer votre email"
                    required>
            </div>

            <div>
                <label>Mot de passe</label>
                <input 
                    class="admin-input" 
                    type="password" 
                    placeholder="Entrer votre mot de passe"
                    required>
            </div>

            <button class="admin-btn" type="submit">
                Se connecter
            </button>

        </form>

    </div>

</body>
</html>