{% extends "base.html" %}

{% block title %}Activités - UFR STA{% endblock %}
{% block content %}

        <section class="banner">
            <h1>Activités</h1>
    </section>
    <p>
        Bienvenue sur la page des activités de l’UFR STA. 
        Ce journal met en lumière les événements marquants de notre faculté : visites officielles, conférences académiques, ateliers pratiques, formations spécialisées, compétitions scientifiques et sorties pédagogiques.  
        À travers ces activités, l’UFR STA affirme son engagement à offrir un cadre dynamique favorisant l’apprentissage, l’innovation et l’ouverture sur le monde.
    </p>
    <section id="activite">
        <div class="activite">
            <h3>Inauguration de la Salle Informatique de Pointe</h3>
            <p>
                <strong>Le 23 juillet 2024, l’Unité de Formation et de Recherche - Sciences et Technologies Avancées (UFR STA)</strong> a inauguré une salle informatique de pointe équipée de quinze ordinateurs ultra‑performants (2 To de disque dur, 16 Go de RAM, processeurs puissants). 
                Cette acquisition, réalisée grâce au partenariat avec <strong>M. Modou Mamoune NGOM</strong>, marque une étape importante dans le renforcement des capacités technologiques de l’UFR. L’événement s’est déroulé en présence du <strong>Pr Issa SAKHO (Directeur de l’UFR STA)</strong>, de <strong>Makha NDAO (Enseignant‑Chercheur)</strong> et de <strong>. Aïdara NGOM (Chef de Service Administratif)</strong>.
                 Le Directeur a souligné que ces équipements permettront d’améliorer la qualité des formations pratiques, de faciliter les simulations numériques et de répondre aux standards internationaux. 
                 Fidèle à son nom, l’UFR STA ambitionne de se démarquer par des équipements informatiques de pointe. Son objectif est clair : devenir un hub technologique de référence.
                 L'UFR STA se positionne comme un pilier incontournable de l'innovation éduacative au Sénégal et en Afrique.
                 Cet événement marque une étape importante dans l’innovation 
        éducative et technologique au Sénégal, renforçant la formation des étudiants 
        en sciences, technologies, ingénierie et mathématiques <strong>(STEM)</strong>.
    
            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Les images marquant cette Inauguration :</strong></h4>
                   <div class="photos">
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/salle-info1.jpg') }}" alt="Salle informatique" >
                    </div>
                    <div class="item"> 
                    <img src="{{ url_for('static', filename='images/salle-info2.jpg') }}" alt="Inauguration">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/salle-info3.jpg') }}" alt="Étudiants en salle">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/salle-info4.jpg') }}" alt="Étudiants en salle">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/salle-info5.jpg') }}" alt="Étudiants en salle">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info6.jpg') }}" alt="Dr ndao presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info7.jpg') }}" alt="La salle">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info8.jpg') }}" alt="Dr ndao presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info9.jpg') }}" alt="Dr ndao presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info10.jpg') }}" alt="Dr ndao presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info11.jpg') }}" alt="Etudiante mpi">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/salle-info12.jpg') }}" alt="Etudiant sml">
                    </div>
                 </div>
                </section>
        </main>
        </div>
        
        <div class="visites">
            <h3><strong>Les visites de L'UFR STA</strong></h3>
            <p>
                Dans le cadre des activités pédagogiques de la filière Mathématiques et Modélisation de l’UFR Sciences et Technologies Avancées (STA) de l’Université Amadou Mahtar Mbow, une visite pédagogique a été organisée à AIMS Sénégal, à Mbour.
                Cette visite a eu lieu <strong>le samedi 09 mai 2026</strong> coincidant le départ de la délégation à 16h00 depuis 
                l’Université Amadou Mahtar Mbow, et le retour s’est effectué le dimanche 10 
                mai 2026 après les différentes activités prévues durant le séjour.
                Cette visite a été organisée par l’administration de l’UFR STA , particuliérement le Chef 
                de Département Mathématiques, Informatique et Modélisation (MIM), <strong>Docteur T.M.M.SOW</strong>  .   
            </p>
            <p>
                Cette visite avait pour objectif principal de permettre aux étudiants de découvrir 
davantage AIMS Sénégal, son environnement académique, ses opportunités de 
formation ainsi que ses programmes orientés vers l’excellence en sciences 
mathématiques et en intelligence artificielle.
            </p>
            <P>
                Au cours des échanges, les étudiants ont découvert que AIMS Sénégal offre : <br>
                <li>Un programme structuré de 10 mois orienté vers la recherche ;</li>
                <li>Un programme d’éducation coopératif de 18 mois avec un lien direct avec 
                    l’industrie grâce aux stages professionnels ;</li>
                <li>Le Master Africain en Intelligence Machine (AMMI) ;</li>
                <li>Un Master en sciences mathématiques accrédité par l’Autorité Nationale 
                    d’Assurance Qualité de l’Enseignement Supérieur.</li>
            </P>
            <p>
                Les étudiants ont également eu l’occasion d’échanger avec les responsables et 
étudiants de AIMS autour des perspectives académiques, des opportunités de 
recherche ainsi que des possibilités d’orientation après la Licence.
            </p>
            <p>
                Au-delà du cadre pédagogique, cette visite a aussi été marquée par des moments 
de partage et de convivialité à travers plusieurs activités sociales et sportives. Un 
match de gala a notamment opposé les étudiants de Mathématiques et 
Modélisation de l’UAM à ceux de AIMS Sénégal. <strong> La rencontre s’est terminée 
sur une victoire de l’équipe de Mathématiques et Modélisation par 4 buts à 
3. </strong> <br> 
Cette immersion a permis de renforcer les liens entre les deux institutions et de 
créer un cadre d’échanges enrichissant aussi bien sur le plan académique que 
social.
            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Galerie photos :</strong></h4>
                   <div class="photos">
                    <div class="item">
                       <img src="{{ url_for('static', filename='images/Ivisite1.jpg') }}" alt="discution de l’AIMS">
                   </div>
                   <div class="item">
                        <img src="{{ url_for('static', filename='images/Ivisite2.jpg') }}" alt="Les etudiants de MIM">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Ivisite3.jpg') }}" alt="rencontre">
                    </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Ivisite4.jpg') }}" alt="Match de foot">
                        </div>
                        </div>
                    </section>
                </main>     
           
            <h3><strong>Journée des Gens de Mer</strong></h3>
            <p>
                Les étudiants du Département Sciences de la Matière et de l’Univers (SMU) ont reçu une invitation des organisateurs pour participer à une journée d’importance intitulée Journée des Gens de la Mer. Placée <strong>sous le thème : « Transporter le commerce mondial, supporter les risques »</strong>, cette rencontre s’est tenue le 25 juin au Grand Théâtre National Doudou Ndiaye Coumba Rose. Il s’agit d’un événement institutionnel majeur, organisé et parrainé par les autorités maritimes nationales en partenariat avec leurs acteurs sectoriels.
            </p>
            <P>
                La Journée internationale des gens de mer est une journée mondiale officielle de l’ONU visant à honorer la contribution unique des marins au commerce mondial et à l’économie internationale. L’objectif de cette édition était de promouvoir l’insertion professionnelle des jeunes, de faire découvrir les opportunités de carrière dans le commerce maritime et la logistique, et de permettre aux étudiants une immersion dans le secteur du travail, en particulier dans le domaine maritime.
                Les participants ont pu dialoguer avec des professionnels du domaine, renforçant ainsi le lien entre formation académique et réalité du terrain.

            </P>
            <p>
                 Le transport de marchandises, la gestion des ports, la consignation et le droit maritime sont présentés aux étudiants pour leur montrer que le secteur ne se limite pas à la navigation, mais offre des carrières commerciales très lucratives.
            </p>
            <p>
                Cette journée illustre l’ouverture de l’UFR STA aux initiatives nationales et internationales, et son engagement à préparer ses étudiants à devenir des acteurs responsables et innovants dans le domaine maritime.
            </p>
            <main>
            <section class="galerie">
               <h4><strong>Galerie photos :</strong></h4>
               <div class="photos">
                <div class="item">
               <img src="{{ url_for('static', filename='images/JourneeMer1.jpg') }}" alt="Bienvenue">
               </div>
               <div class="item">
               <img src="{{ url_for('static', filename='images/JourneeMer2.jpg') }}" alt="A la decouverte">
               </div>
                <div class="item">
                <img src="{{ url_for('static', filename='images/JourneeMer3.jpg') }}" alt="Cérémonie">
                </div>
                <div class="item">
                <img src="{{ url_for('static', filename='images/JourneeMer4.jpg') }}" alt="Cérémonie">
                </div>
                <div class="item">
                <img src="{{ url_for('static', filename='images/JourneeMer5.jpg') }}" alt="Cérémonie">
                </div>
                <div class="item">
                <img src="{{ url_for('static', filename='images/JourneeMer6.jpg') }}" alt="Cérémonie">
                </div>
                <div class="item">
                <img src="{{ url_for('static', filename='images/JourneeMer7.jpg') }}" alt="Cérémonie">
               </div>
               <div class="item">
               <img src="{{ url_for('static', filename='images/JourneeMer8.jpg') }}" alt="Logo-des-gens de la mer">
               </div>
              </div>
            </section>
        </main>
        <div>
            <h3><strong>Journée Scientifique de L'UFR STA</strong></h3>
            <P>
                Le samedi 09 mai 2026, l’Amicale des Étudiants de l’UFR Sciences et Technologies Avancées de l’Université Amadou Mahtar MBOW (UAM) a organisé une Journée de l’Excellence a l'annexe 3 de l'université dédiée à la valorisation du mérite académique, de l’engagement étudiant et de la culture de la performance.
            </P>
            <P>
                L’événement était placé <strong> sous le parrainage du Professeur Amadou Dahirou GUEYE, Vice-Recteur</strong> chargé des Affaires pédagogiques et de la Vie universitaire. La rencontre a réuni autorités universitaires, enseignants-chercheurs et étudiants de l’UFR STA autour d’une ambition commune : faire du mérite un repère durable et célébrer l’excellence.
            </P>
            <P>
                Le moment fort de la célébration fut la distinction des cinq meilleurs étudiants de l’UFR STA pour la qualité de leurs résultats académiques, ainsi que l’hommage rendu à l’équipe championne de l’UAM, symbole du talent et du dynamisme des étudiants de l’UFR STA, sur les plans académique et extra-universitaire.
            </P>
            <p>
                La journée s’est clôturée par un concours de génie en herbe, mettant à l’honneur l’esprit d’analyse, la culture scientifique et l’émulation intellectuelle.
            </p>
            <main>
            <section class="galerie">
            <h5><strong> Galerie photographique de la Journée de l’Excellence :</strong></h5>
            <div class="photos">
                <div class="item">
                
                    <img src="{{ url_for('static', filename='images/JourneeS1.jpg') }}" alt="Sous le parrain">
                </div>

                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS2.jpg') }}" alt="president de l'UFR">
                </div>
                <div class="item">

                    <img src="{{ url_for('static', filename='images/JourneeS3.jpg') }}" alt="JourneeS3">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS4.jpg') }}" alt="Madame">
                </div>
                <div class="item">
                    <li><img src="{{ url_for('static', filename='images/JourneeS5.jpg') }}" alt="Les organisatrices"></li>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS6.jpg') }}" alt="Nos étudiants">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS7.jpg') }}" alt="Distinction étudiants">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS8.jpg') }}" alt="Distinction étudiants">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS9.jpg') }}" alt="Distinction étudiants">
                </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS10.jpg') }}" alt="Distinction étudiants">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS11.jpg') }}" alt="JourneeS11">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/JourneeS12.jpg') }}" alt="JourneeS12">
                </div>
            </div>
        </section>
        </main>
        <h3><strong>Présentation de l’UFR STA – CICESS 20225</strong></h3>
        <p>
            Le 13, 14 et 15 juin 2025 , les étudiants de l’UFR Sciences et Technologies Avancées (STA) ont participé à une activité organisée au CICESS.
            L’objectif était de présenter l’UFR STA aux élèves de terminale, leur exposer les différentes formations disponibles ainsi que les débouchés professionnels, afin de les aider à faire un choix éclairé sur Campusen.
        </p>
        <P>
            Cette initiative a permis de renforcer la visibilité de l’UFR STA auprès des futurs bacheliers et de mettre en avant son engagement à accompagner les étudiants dans leur orientation académique et professionnelle.
        </P>
        <main>
                
            <section class="galerie">
                <h4><strong>Galerie photos:</strong></h4>

                <div class="photos">
                
                <div class="item">

                    <img src="{{ url_for('static', filename='images/Icicess1.jpg') }}" alt="La presentation">
                </div>
                <div class="item">

                    <img src="{{ url_for('static', filename='images/Icicess2.jpg') }}" alt="La presentation">
                </div>
                <div class="item">

                    <img src="{{ url_for('static', filename='images/Icicess3.jpg') }}" alt="La presentation">
                </div>
                <div class="item">

                    <img src="{{ url_for('static', filename='images/Icicess4.jpg') }}" alt="La presentation">
                </div>
                </div>
            </section>
        </main>
        <div class="conférences">
            <h3><strong>Les conférences Académiques</strong></h3>
            <ul>
            <li><h4><strong>Conférence scientifique</strong></h4></li>
            </ul>
            <p>
                Le 8 avril 2025, Dr Isabelle BRENON a animé une conférence scientifique à l’Université Amadou Mahtar MBOW (UAM), en partenariat avec l’UFR Sciences et Technologies Avancées ( UFR STA).
            </p>
            <p>
                Au cours de son intervention, elle a mis en évidence les spécificités des systèmes littoraux semi‑fermés tels que les baies, les estuaires et les lagunes côtières. Elle a insisté sur l’intérêt scientifique d’étudier la dynamique de ces milieux d’interface, fortement anthropisés et présentant des enjeux socio‑économiques et environnementaux majeurs : <br>
                <ul>
                    <li>conflits d’usage (industrie, tourisme, agriculture, aquaculture, forte densité de population, ports) ;</li>
                    <li>richesse et diversité des paysages et écosystèmes (mangroves, herbiers marins, plages sableuses) ;</li>
                    <li>vulnérabilité du littoral (érosion côtière, submersions marines, envasement des ports) ;</li>
                    <li>qualité de l’eau (intrusion saline, transfert de polluants, ressource en eau douce) ;</li>
                    <li>qualité des terres agricoles littorales, affectées notamment au Sénégal par l’hypersalinité des estuaires et deltas.</li>
                </ul>    
            </p>
            <p>En lien avec ces enjeux, Dr BRENON a présenté plusieurs exemples d’application de la modélisation numérique permettant de mieux comprendre la circulation des masses d’eau et les principaux forçages physiques. Les cas étudiés incluaient l’estuaire de la Charente (France), du Konkouré (République de Guinée), du Wouri (Cameroun), la lagune d’Ébrié (Côte d’Ivoire) et l’estuaire de la Casamance (Sénégal).</p>
            <p>Pour les estuaires et lagunes africains, l’accent a été mis sur la modélisation de l’intrusion saline et ses conséquences sur la qualité de l’eau et des terres agricoles littorales. La seconde partie de la présentation a porté sur la modélisation de la circulation des sédiments dans ces systèmes semi‑fermés et sur les interactions entre le forçage hydrodynamique maritime et l’alluvionnement fluviatile.
            </p>
            <main>
                
                <section class="galerie">
                    <h4><strong>Les souvenirs marquants cette conférence :</strong></h4>
                    <div class="photos">
                        <div class="item">

                       <img src="{{ url_for('static', filename='images/Iconference1.jpg') }}" alt="La presentation">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference2.jpg') }}" alt="chers enseignants-chercheurs">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference3.jpg') }}" alt="DR daouda NGOM">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference4.jpg') }}" alt="La presentation">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference5.jpg') }}" alt="La presentation">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference6.jpg') }}" alt="La presentation">
                       </div>
                       <div class="item">
                       <img src="{{ url_for('static', filename='images/Iconference7.jpg') }}" alt="La presentation">
                       </div>
                       <div class="item">
                        <img src="{{ url_for('static', filename='images/Iconference8.jpg') }}" alt="La presentation">
                        </div> 
                
                    </div>
                </section>
            </main> <br>
            <ul>
            <li><h4></h4><strong>Cycles des grandes Conférences de l'UFR Sciences et Technologies Avancées</strong></h4></li>
            </ul>
            <p>
                Le 30 avril 2025, l’UFR Sciences et Technologies Avancées (STA), à travers son Département Mathématiques, Informatique et Modélisation (MIM), a organisé une conférence scientifique sur le thème « Les mathématiques au service de la communauté » au niveau de l’amphithéâtre de l'UAM. <br>
                La rencontre a été animée par le Professeur Abdou SENE, titulaire à l’Université numérique Cheikh Hamidou KANE (UN‑CHK), et modérée par le Dr Thierno Mohamadane Mansour SOW, Chef du Département MIM de l’UFR STA.
            </p>
            <p>
                Spécialiste en mathématiques appliquées, Pr SENE a présenté ses travaux portant sur la modélisation mathématique, la simulation numérique, la théorie du contrôle et l’enseignement. Il a montré comment les modèles mathématiques peuvent être conçus et utilisés dans divers domaines : mécanique des milieux continus (solides et fluides), épidémiologie, dynamique des populations, croissance des plantes, économie et finance. <br>
                Avec plus de vingt ans d’expérience dans l’enseignement supérieur, Pr SENE a également rappelé son parcours marqué par d’importantes responsabilités, notamment en tant que Directeur d’UFR à l’Université Gaston Berger, puis Directeur de l’Enseignement supérieur privé du Sénégal.
            </p>
            <P>
                Cette conférence a permis aux étudiants et enseignants de mesurer l’impact des mathématiques dans la recherche scientifique et dans la société, en soulignant leur rôle essentiel comme outil de compréhension et d’innovation. 
            </P>
            <main>  
                <section class="galerie">
                    <h4><strong>Galerie photos:</strong></h4>

                    <div class="photos">
                    
                    <div class="item">

                        <img src="{{ url_for('static', filename='images/Imconf1.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf2.jpg') }}" alt="La presentation" class="object.fit">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf3.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf4.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf5.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf6.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf7.jpg') }}" alt="La presentation">
                   </div>
                   <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf8.jpg') }}" alt="La presentation">
                    </div>
                   <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf9.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf10.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf11.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf12.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf13.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf14.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf15.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Imconf16.jpg') }}" alt="La presentation">
                    </div>   
            </div>
            </section>
        </main>


        </div>
        <div class="Atelier pratiques">
            <h3><strong>Ateliers pratiques</strong></h3>
            <li><h4><strong>Atelier de Formation Kairos</strong></h4></li>
            <p>
                Dans le cadre des activités pédagogiques de l’UFR STA, un atelier de formation sur la plateforme Kairos a été organisé le mardi 19 mai 2026 au niveau de l'amphitheatre de L'pUAM afin de renforcer les compétences des étudiants en matière d’enseignement à distance. Cette formation visait à les initier aux bonnes pratiques pour suivre efficacement leurs cours en ligne durant les Jeux Olympiques de la Jeunesse (JOJ) 2026.   
            </p>
            <p>
                L’événement s’est déroulé en présence des formateurs, du professeur <strong>Dr Amadou Dahirou Gueye</strong> professeur de la STA et vice‑recteur de L'UAM. Leur participation a permis de souligner l’importance de l’intégration des outils numériques dans l’apprentissage et de mettre en avant l’engagement de l’UFR STA à accompagner ses étudiants vers une meilleure maîtrise des technologies éducatives.
            </p>


        </div>
        <div class="formations">
            <h3><strong>Formations</strong></h3>
            <li><h4><strong>Atelier de formation sur la passation des marchés publics</strong></h4></li>
            <p>
                L’UFR Sciences et Technologies Avancées (UFR STA) de l’Université Amadou Mahtar MBOW (UAM) a organisé, le vendredi 8 novembre 2024, un atelier de formation et de sensibilisation sur les procédures de passation des marchés publics destiné à l’ensemble de son personnel. Cette formation, animée par Monsieur Ousmane NGOM, spécialiste en passation des marchés publics et Directeur de l'Administration générale et de l’Équipement (DAGE) au Ministère de l’Économie, du Plan et de la Coopération, a couvert plusieurs thématiques essentielles, notamment : <br>
                <ul>
                    <li>Concepts et fondamentaux sur les marchés publics ;</li>
                    <li>Le cadre juridique et institutionnel des marchés publics ;</li>
                    <li>Les préalables à la passation des marchés publics ;</li>
                    <li>Les types de marchés publics ;</li>
                    <li>Le plan de passation des marchés publics ;</li>
                    <li>Les procédures et règles à respecter pour la passation de marchés publics ;</li>
                    <li>L’exécution des marchés publics.</li>
                </ul>
            </p>
            
            <p>
                Le Directeur de l’UFR a salué la qualité des échanges entre le formateur et les participants, soulignant l’importance de telles initiatives pour améliorer la transparence et l’efficacité des procédures administratives et financières. Il a également annoncé que d’autres sessions de formation seront prévues dans le cadre du plan de formation de l’UFR.
                L’ensemble du personnel de l'UFR STA de l'UAM adresse ses sincères remerciements et félicitations à Monsieur NGOM pour la qualité de la formation, son engagement et sa générosité intellectuelle.
            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Galerie photos:</strong></h4>
                   <div class="photos">
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation1.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation2.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation3.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation4.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation5.jpg') }}" alt="La presentation">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Iformation6.jpg') }}" alt="La presentation">
                    </div>   
                   </div>
                </section>
            </main>



        </div>
        <div class="compétitions">
            <h3><strong>Compétitions</strong></h3>
            <ul>
            <li><h4><strong>Finale Inter‑Départements de Football</strong></li></h4>
            </ul>
            Le 20 décembre 2024, l’UFR Sciences et Technologies Avancées (STA) s’est qualifiée pour la finale inter‑départements de football 
            organisée dans le cadre des 72 heures de l’UAM, face à l’équipe de l’UFR TECNA.
        </p>
        <p>
            Cette rencontre a été marquée par des moments intenses. Les étudiants de la STA sont venus nombreux pour soutenir leur équipe et créer une ambiance exceptionnelle.
            L’atmosphère était électrique à l’annexe du stade Abdoulaye Wade, où les supporters ont exprimé leur joie et leur ferveur tout au long de la rencontre.
           
        </p>
        <p>
            Au terme d’un match disputé, la STA a triomphé face à l’UFR TECNA et a remporté la coupe. Ce succès a déclenché une immense jubilation : étudiants et supporters ont célébré ensemble cette victoire historique, remplis de fierté et d’enthousiasme.
        </p>
        <main>
            <section class="galerie">
               <h4><strong>Moments forts de la compétition:</strong></h4>
               <div class="photos">
                <div class="item">
                   <img src="{{ url_for('static', filename='images/Icompetition1.jpg') }}" alt="competition">
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/Icompetition2.jpg') }}" alt="competition">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Icompetition3.jpg') }}" alt="competition">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Icompetition4.jpg') }}" alt="competition">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Icompetition5.jpg') }}" alt="competition">
                         </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Icompetition6.jpg') }}" alt="competition">
                        </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Icompetition7.jpg') }}" alt="competition">
                         </div>
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/Icompetition8.jpg') }}" alt="competition">
                        </div>
                        </div>
             </section>
            </main>  
            <ul> 
            <li><h4><strong>Match contre l'UFR TECNA</strong></h4></li>
            </ul> 
            <P>
                Le 03 août 2025, l’UFR Sciences et Technologies Avancées (STA) a disputé une finale inter‑départements de football face à l’UFR TECNA.
            </P>
            <p>
                Pour cette rencontre, nos éminents professeurs <strong>Dr Makha Ndao</strong>,<strong>Dr Thierno Mohamadane Mansour Sow</strong>, ainsi que notre directeur <strong>Dr Issa Sakho</strong> ont été invités et ont honoré de leur présence ce grand événement sportif. Leur participation a donné une dimension particulière à cette finale, renforçant le lien entre l’encadrement académique et les étudiants.
            </p>
            <p>
               L’ambiance était tendue à l’annexe du stade Abdoulaye Wade, chaque équipe donnant le meilleur d’elle‑même pour s’imposer. Au terme d’un match disputé et riche en émotions, aucune équipe n’a pu être départagée : la rencontre s’est soldée par un nul, laissant un souvenir fort et marquant dans l’histoire sportive de l’UFR STA.
            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Galerie Photos:</strong></h4>
                   <div class="photos">
                    <div class="item">
                       <img src="{{ url_for('static', filename='images/Imcompetition1.jpg') }}" alt="competition">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Imcompetition2.jpg') }}" alt="competition">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imcompetition3.jpg') }}" alt="competition">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imcompetition4.jpg') }}" alt="competition">
                     </div>
                    </div>
                </section>
            </main>
        </div>
        <div class="sorties pédagogique">
            <h3><strong>Les Sorties pédagogiques</strong></h3>
            <h3></h3>
            <p>
                Du 10 au 13 décembre 2024, l’UFR des Sciences et Technologies Avancées (UFR STA) de l’Université Amadou Mahtar MBOW (UAM), en partenariat avec l’UFR des Sciences et Techniques de l’Université de Rouen Normandie, a organisé une école de terrain mémorable. Cette initiative s'est déroulée dans un cadre idéal : la lagune de la Somone, un géosystème naturel de mangrove situé sur la Petite Côte du Sénégal.
                Destinée aux étudiants de 1ère année en Sciences de la Mer et du Littoral du Département Sciences de la Matière et de l’Univers, cette école de terrain a été l’occasion d’explorer des thématiques clés telles que : <br>
                <ul>
                    <li>La dynamique sédimentaire en milieu côtier et lagunaire.</li>
                    <li>Le forçage hydrodynamique (la marée et les vagues).</li>
                    <li>La répartition sédimentaire en fonction du forçage hydrodynamique dominant (distributions granulométriques, gradients sédimentaires).</li>
                    <li>La distribution spatiale des espèces de mangrove (avec différentes toposequences).</li>
                    <li>L'évolution spatiale des propriétés physico-chimiques et géochimiques des eaux et des sédiments dans la lagune.</li>
                    <li>L'analyse de carottes sédimentaires : identification de faciès, descriptions lithologiques, teneur en matière organique, processus d'oxydo-réduction, anoxie de substrat, hypersalinisation et les relations avec la dynamique de la mangrove.</li>
                    <li>La formation de la flèche sableuse de la Somone et de son rôle dans la régulation des écoulements et le contrôle des processus de remplissage et vidange de la lagune.</li>
                    <li>L'absence d'apports d'eau douce de la rivière de la Somone, comme facteur aggravant le processus d'hypersalinisation de la lagune.</li>
                    <li>Les enjeux sur la préservation de cet écosystème fragile, à forte valeur écologique et socio-économique.</li>
                </ul>
            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Galerie photos:</strong></h4>
                   <div class="photos">
                    <div class="item">
                    <img src="{{ url_for('static', filename='images/Isortie1.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie2.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie3.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie4.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie5.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie6.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Isortie7.jpg') }}" alt="Sous la mer">
                    </div>
                   </div>
                </section>
            </main>


             </div>
            <li><h3><strong>Sortie des étudiants de la Licence2 SML au delta du Sine Saloum</strong></h3></li>
            <p>
              Les étudiants en L2 Sciences de la Mer et du Littoral (SML) dans le delta du Sine Saloum.
              Dans le cadre de leur formation pratique, essentielle pour renforcer les enseignements théoriques, les étudiants de Licence 2 Sciences de la Mer et du Littoral (SML) de l'UFR_STA ont effectué un camp de terrain à Diakhanor, dans le delta du Sine Saloum, les 23 juin et 23-24 juillet 2025.
              Encadrés par <strong>Dr Siny_NDOYE, Enseignant-Chercheur au Département Sciences de la Matière et de l’Univers (SMU)</strong>, avec l’appui du laboratoire Galou Xam-Xam, les étudiants ont pu développer leurs compétences à travers une approche terrain immersive : <br>
              <ul>
                <li>Identification des habitats côtiers (mangrove, bolong, vasière, etc.) à partir de critères physiques, chimiques et biologiques.</li>
                <li>Mesures in situ des propriétés physico-chimiques des eaux estuariennes (température, salinité, pH, oxygène dissous, etc.).</li>
                <li>Échantillonnage et analyse du plancton via un planktoscope (microscope open-source).</li>
                <li>Expérimentation en écophysiologie sur le bivalve Senilia senilis à l’aide d’un banc de mesure.</li>
              </ul>
            </p>
            <p>
                <strong>Déroulé des activités :</strong>
                Séquence embarquée en pirogue : Observation des habitats et mesures avec sondes WTW (surface) et Wimo NKE (profil vertical).
                <strong>Ateliers scientifiques :</strong>
                <ul>
                    <li>Atelier A (Écophysiologie) : Animé par le Dr Babacar SANE, découverte du laboratoire Galou Xam Xam et expérimentation sur Senilia senilis.</li>
                    <li>Atelier B (Plancton) : Dirigé par le Dr Jeanne DIOUF, échantillonnage et observation des micro-organismes aquatiques.</li>
                    <li>Atelier C (Physico-chimie) : Supervisé par le Dr Siny NDOYE, analyse des données (MATLAB) et comparaison des paramètres entre sites.</li>
                </ul>
                C'était expérience enrichissante qui a permis aux futurs experts en sciences marines d’appliquer leurs connaissances sur le terrain.

            </p>
            <main>
                <section class="galerie">
                   <h4><strong>Album souvenir de la sortie pédagogique:</strong></h4>
                   <div class="photos">

                    <div class="item">
                       <img src="{{ url_for('static', filename='images/Imsortie1.jpg') }}" alt="Sous la mer">
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie2.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie3.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie4.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie5.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie6.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie7.jpg') }}" alt="Sous la mer">
                     </div>
                     <div class="item">
                        <img src="{{ url_for('static', filename='images/Imsortie8.jpg') }}" alt="Sous la mer">
                     </div>
                   </div>
                </section>
            </main>
        </div>

    </section>
    {% endblock %}
    
                