{% extends "base.html" %}
{% block titre %}Accueil{% endblock %}
{% block main %}

    <section class="banner">
        <h1>Actualites</h1>
    </section>

    <section class="actualite">
        <h2>Toutes les actualites</h2>
        <p>Les dernières informations de l'UFR STA</p>
    </section>

    <section class="news">
        <div class="news-card">
            <div class="image"> 
            <img src="../static/images/journee6.jpeg" alt="">
            </div>
        
            <div class="content">
                <span class="categorie">Evenement</span>
                <h2>Journee d'information</h2>
                <p>
                L'UFR STA organise une demi-journée d'information, de partage
                et de concentration reunissant les Enseignant-Chercheur et le PATS.
                </p>
                <a href="activites.html">Lire plus</a> 
            </div>
                
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                27 Juin 2026
            </div>

        </div>

        <div class="news-card">
            <div class="image">
                <img src="../static/images/journée9.jpeg" alt="">
            </div>
            
            <div class="content">
                <span class="categorie">Evenement</span>       
                <h2>Journée des gens de la mer</h2> 
                <p>
                Les etudiants de l'UFR STA ont pris part a cette
                importante journée organisée par l'ANAM.
                </p>
                <a href="activites.html">Lire plus</a>
            </div>
                
            <div class="date">  
                <i class="fa-solid fa-calendar-days"></i>
                25 Juin 2026  
            </div>
            
        </div>
     
        <div class="news-card">
            <div class="image"> 
            <img src="../static/images/journée7.jpeg" alt="">
            </div>
        
            <div class="content">
                <span class="categorie">Evenement</span>
                <h2>Journee d'Excellence de l'UFR STA</h2>
                <p>
                L'amicale des etudiants de l'UFR STA a organisé une grande 
                journée d'Excellence dédiée a la celebration du merite academique.
                </p>
                <a href="activites.html">Lire plus</a> 
            </div>
                
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                9 Mai 2026
            </div>
        
        </div>
        
        <div class="news-card">
            <div class="image">
                <img src="../static/images/recrutement1.jpeg" alt="">
            </div>
            
            <div class="content">
                <span class="categorie">APPEL À CANDIDATURES</span>
                <h2>Recrutement d'un Enseignant-Chercheur</h2>
                <p>
                Le recteur de l'UAM recrute pour le compte de l'UFR STA
                un Enseignant-Chercheur en Mathematiques appliquées
                </p>
            </div>
                
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                04 Juin 2026
            </div>
       
        </div>
    </section>

{% endblock %} 
    