{% extends "base.html" %}
{% block title %}Contact - UFR STA{% endblock %}

{% block content %}
    <section class="banner">
        <h1>Contact</h1>
    </section>
        <section class="contact-section">
            <!-- Informations de contact -->
            <div class="contact-info">
                <h2>Informations de contact</h2>

                <ul>
                    <li>📍 <strong>Adresse :</strong> UFR Sciences et Technologies Avancées (STA) <br> Pôle Urbain de Diamniadio – Dakar, Sénégal</li>
                    <hr>
                    <li>📞 <strong>Téléphone :</strong> +221 33 844 10 00 <br>Lun - Ven : 08h00 - 17h00</li>
                    <hr>
                    <li>✉️ <strong>Email :</strong> contact@ufrsta.sn</li>
                    <hr>
                    <li>🌐 <strong>Site web :</strong> www.ufrsta.sn</li>
                    <hr>
                   <li>⏰ <strong>Horaires :</strong> Lun – Ven : 08h00 – 17h00</li>
                   <hr>
                  <li>📠 <strong>Secrétariat :</strong> +221 33 844 10 01 | secretariat@ufrsta.sn</li>
               </ul>
            </div>
    
            <!-- Formulaire de contact -->
            <div class="contact-form">
                <h2>Envoyez-nous un message</h2>
                <form action="{{ url_for('contact') }}" method="POST">
                    <label for="nom">Nom complet </label>
                    <input type="text" id="nom" name="nom" placeholder="Votre Nom complet">
    
                    <label for="email">Email </label>
                    <input type="email" id="email" name="email" placeholder="Votre Email" required >
    
                    <label for="sujet">Sujet </label>
                    <input type="text" id="sujet" name="sujet" placeholder="Votre Sujet " required >
    
                    <label for="message">Message </label>
                    <textarea id="message" name="message" rows="5" placeholder="Envoyer votre message ici" required ></textarea>
    
                    <button type="submit">ENVOYER LE MESSAGE</button>
                </form>
            </div>
        </section>
 {% endblock %}
        

              
     
         
        





    

