<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFR-STA</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>UNITE DE FORMATION ET DE RECHERCHE
            Sciences et Technologies Avancées</h1>
        <div>
            <img src="../static/images/logo.jpeg" alt="logo">
        </div>
    </header>

    <nav class="nav"> 
        <div class="menu-toggle" id="menu"></div>
        <div>
            <a href="index.html">Accueil</a>
            <a href="departements.html">Departements</a>
            <a href="formations.html">Formations</a>
            <a href="activites.html">Activites</a>
            <a href="contact.html">Contact</a>
            <a href="gallerie.html">Gallerie</a>
            <a href="actualites.html">Actualites</a>
        </div>
    </nav>

    <section class="contact-section">
        <h2>Contactez moi</h2>
        <form action="">
            <div class="form-group">
                <label for="nom"> Nom :</label>
                <input type="text" id="nom" name="nom" placeholder="Votre nom">
            </div>
            <div class="form-group">
                <label for="email"> Email :</label>
                <input type="email" id="email" name="email" placeholder="Votre email">
            </div>
            <div class="form-group">
                <label for="sujet"> Sujet :</label>
                <input type="text" id="sujet" name="sujet" placeholder="Votre sujet">
            </div>
            <div class="form-group">
                <label for="message"> Message :</label>
                <textarea id="message" name="message" rows="5" placeholder="Votre message ...">
                </textarea>
            </div>
           <button type="submit" class="btn-submit">Envoyer</button>
        </form>
    </section>
</body>
</html>