<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UFR-STA</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1>UNITE DE FORMATION ET DE RECHERCHE
            Sciences et Technologies Avancées</h1>
        <div>
            <img src="../static/images/logo.jpeg" alt="logo">
        </div>
    </header>
    <nav class="nav"> 
        <div class="menu-toggle" id="menu"></div>
        <div>
            <a href="index.html">Accueil</a>
            <a href="departements.html">Departements</a>
            <a href="formations.html">Formations</a>
            <a href="activites.html">Activites</a>
            <a href="contact.html">Contact</a>
            <a href="gallerie.html">Gallerie</a>
            <a href="actualites.html">Actualites</a>
        </div>
    </nav>
</body>
</html>