{% extends "base.html" %}

{% block title %}Departements - UFR STA{% endblock %}
{% block content %}
    <section class="banner">
        <h1>Département</h1>
   </section> 
    <section id = "departements"> <br>
        Bienvenue sur la page des Départements de l’UFR Sciences et Technologies Avancées (STA).
        Notre UFR structure son offre de formation autour deux départements dynamiques, alliant rigueur scientifique et innovation pédagogique.
        Nous vous invitons à découvrir nos départements et leurs filières, qui constituent le cœur de notre mission de formation et de recherche. 
    <div class="departement">
        <ul>
       <li><h2><strong>Département Mathématiques,Informatique et Modélisation</strong></h2></li>
       </ul>
       <P>
        <h3><strong>Filière Mathématiques, Physique et Informatique (MPI)</strong></h3><br>
        Cette filière vise à doter les étudiants de bases solides en connaissances fondamentales, à développer leurs capacités d’analyse et de résolution de problèmes, à encourager l’approche interdisciplinaire et à les préparer aux spécialisations ainsi qu’à la recherche scientifique. 
        La spécialisation se fait en licence 3 en semestre 5 et se fait actuellement en deux domaines : Mathématique Modélisation et informatique.
        L'UFR offre des formations en master mais qui sont sélectifs.<br><br>
        <li><h4><em>Licence Mathématique et Modélisation</em></h4></li>
        <p>
            <h4>Objectif : </h4>
            Donner aux étudiants des bases solides en analyse, algèbre, optimisation , informatique pour les mathématiques pour préparer les étudiants a la recherche dans les métiers de la mathématique et modélisation . <br>
           <h4>Compétences :</h4>
           <ul>
            <li> Résolution de problèmes complexes</li>
            <li> Simulation numérique</li>
            <li> Initiation à la recherche scientifique</li>
           </ul>
        </p>

        <li><h4><em>Master Mathématique et modélisation</em></h4></li>
        <P>
            <h4>Objectif : </h4>
            L'objectif en master c'est d'pprofondir les connaissances en modélisation mathématique et en analyse numérique. <br>
            <h4>Compétences :</h4>
            <ul>
            <li>Maîtrise des méthodes avancées de modélisation</li>
            <li>Utilisation des outils de simulation numérique</li>
            <li>Développement de projets de recherche appliquée</li>
           </ul>
        </P>
        <li><em><h4>Licence Informatique</em></h4></li>
        <p>
            <h4>Objectif :</h4>
            Préparer les étudiants à acquérir des connaissances fondamentales en informatique et à accéder au plus haut niveau académique. <br>
            <h4>Compétences :</h4>
            <ul>
            <li>Programmation web;</li>
            <li>Programmation et développement logiciel;</li>
            <li>Réseaux;</li>
            <li>Intelligence artificielle, IoT et Data Science;</li>
            <li>Securité des Systémes d'information</li>
            <li>JavaScript et Framework;</li>
            <li>Réalisation de projets tutorés ou stages pratiques;</li>
            </ul>
        </p>
           <li><h4><em>Master Informatique</em></h4></li>
        <p>
            <h4>Objectif :</h4>
            Approfondir les connaissances en informatique appliquée et former des spécialistes dans les domaines innovants des technologies numériques. <br>
            <h4>Formations proposées:</h4>
            <ul>
            <li>Big Data, Internet des Objets et Intelligence artificielle;</li>
            <li>Cyber Security;</li>
            <li>Robotique;</li>
            </ul>



        </p>
        
       </P>
       <P>
        <strong>Filière Mathématiques et Informatique Appliquées aux Sciences Sociales (MIASS).</strong><br>
        Cette filière a pour objectif de former des spécialistes dans les métiers de la finance, de l’économie et de la gestion des organisations et de l’entreprise.
       </P>
       <li><h4><em>Licence Mathématique et Informatique Appliquées aux Sciences Sociales</em></h4></li>
       <p>
        <h4>Objectif : </h4>
        Former des spécialistes capables d’appliquer les outils mathématiques et informatiques aux domaines de la finance, de l’économie et de la gestion des organisations. <br>
        <h4>Compétences :</h4>
        <ul>
        <li>Analyse quantitative et statistique appliquée;</li>
        <li>Programmation et modélisation pour les sciences sociales;</li>
        <li>Utilisation des outils informatiques pour la gestion et la prise de décision;</li>
        </ul>
       </p>
       <li><h4><em>Master Mathématiques et et Informatique Appliquées aux Sciences Sociales</em></h4></li>
       <p>
       <h4>Objectif :</h4>
       Approfondir la maîtrise des méthodes quantitatives et informatiques appliquées aux sciences sociales. <br>
       <h4>Compétences :</h4>
       <ul>
       <li>Modélisation des phénomènes sociau;</li> 
       <li>big data;</li>
       <li>Recherche interdisciplinaire;</li>
       </ul>
       </p>
   </div>

       
    </div>   
       
    <div class="departement">
        <ul>
        <li><h2><strong>Département Science de la Mathiére et de L'Univers(SMU)</strong></h2></li>
        </ul>
        <p>
            <li><strong>Filiére Physique et Applications(PA) : Niveau Licence</strong></li><br>
            La filière PA propose des formations innovantes dans les domaines de la physique et de ses applications.Le tronc commun (S1 à S3) se fait avec la filière MPI portée par le département Mathématiques, Informatique et Modélisation. A partir de S4, l’option Physique et Applications est gérée par le département Sciences de la Matière et de l’Univers (SMU)
            L’objectif est de renforcer le développement du capital humain dans les métiers de la physique et de ses applications pour accompagner le développement économique durable du Sénégal et au-delà, notamment dans les secteurs clés suivants : <br>
            <ul>
                <li>Les Matériaux ;</li>
                <li>Les Energies (fossiles et renouvelables) ;</li>
                <li>L’Eau ;</li>
                <li>Le Spatial.</li>
            </ul><br>
            Le curseur est positionné sur l’utilisation des nanosciences et nanotechnologies avec le couplage de l’approche expérimentale avec la modélisation et les simulations numériques.
        </p> 
        <h4>Les formations en Master</h4>   
        <ul>
            <li>Sciences et Technologies spatiales ;</li>
            <li>Nanotechnologie –Nanoscience ;</li>
            <li>Physique Nucléaire et Applications ;</li>
            <li>Physique des Matériaux et des fluides ;</li>
            <li>Génétique moléculaire ;</li>       
        </ul>

        <p>
            <li><strong>Filière Sciences de la Mer et du Littoral (SML)</strong></li><br>
            Cette filière a pour objectif d’offrir aux étudiants la possibilité d’acquérir une formation qui leur permette d’accéder au plus haut niveau des connaissances académiques tant en recherche que dans le domaine professionnel. Elle prépare les étudiants aux métiers de la protection et de l’aménagement des côtes, des ports, des plateformes offshores pétrolières et gazières (Génie côtier, Génie portuaire, Génie maritime), de la gestion des ressources marines et des écosystèmes côtiers et marins, de la biodiversité marine, de l’économie bleue et la résilience climatique et des territoires littoraux.
        </p>
        <P>
            <strong>Les formations en Master </strong><br><br>
            <ul>   
                <li>Génie Côtier, Génie maritime et portuaire ;</li>
                <li>Technologie marine ;</li>
                <li>Méthodes de réalisations des ouvrages marines ;</li>
                <li>Géophysique marine et explorations ;</li>
                <li>Modélisation des Océans et du Climat ;</li>
                <li>Transition énergétique et développement durable ;</li>
                <li>Ecologie et gestion des écosystèmes côtiers et marins ;</li>
                <li>Changements marins et sciences marines ;</li>
                <li>Gestion des ressources et des écosystèmes marins ;</li>
                <li>Ecosystèmes marins ;</li>
                <li>Biologie des organismes marins ;</li>
                <li>Sciences halieutiques et aquacoles ;</li>
                <li>Etc.</li>
            </ul>
        </P>
        <section id="chefs-departements">
            <h2>Chefs de Départements</h2>
            <div class="chefs-container">
                <div class="chef">
                    <img src="{{ url_for('static', filename='images/chef-mim.jpg') }}" 
                         alt="Chef Département MIM">
                    <p><strong>Dr. Thierno Mouhamadan Mansour Sow</strong></p>
                    <p><a href="mailto:chef-departement-mim@uam.edu.sn">chef-departement-mim@uam.edu.sn</a></p>
                </div>
                <div class="chef">
                    <img src="{{ url_for('static', filename='images/chef-smu.jpg') }}"  
                         alt="Chef Département SMU">
                    <p><strong>Dr. Makha Ndao</strong></p>
                    <p><a href="mailto:chef-departement-smu@uam.edu.sn">chef-departement-smu@uam.edu.sn</a></p>
                </div>
            </div>
        </section> 
        </div>     
    </section>  
 {% endblock %}
   
        
            

        
        



        
        

        
            
        
    