{%extends "base.html"%}
{%block title %}Enseignants - UFR-STA{% endblock %}
{%block content%}
<section class="banner">
    <h1>Nos Enseignants</h1>
    <p>Découvrez les enseignants de l’UFR STA, leurs spécialités et leurs domaines de recherche.</p>
</section>
<section class="enseignants-grid">
<div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/Dahirou-gueye.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Amadou Dahirou Gueye</h3>
            <p class="grade">Enseignant-chercheur et Vice-Recteur de l'UAM</p>
            <p class="departement">Département Informatique</p>
            <p class="email">📧dahirou.gueye@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : les télé-laboratoires, les organisations virtuelles et le télé-enseignement.Il développe également des applications concrètes de l'intelligence artificielle (IA).</em></li>

            </p>
        </div>
    </div>
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/Issa-sakho.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Issa Sakho</h3>
            <p class="grade">Enseignant-chercheur</p>
            <p class="departement">Departement SMU</p>
            <p class="email">📧issa.sakho@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : Géosciences marines et littorales</em></li></p>
        </div>
    </div>
    
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/chef-smu.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Makha Ndao</h3>
            <p class="grade">Chef de departement SMU</p>
            <p class="departement">Departement SMU</p>
            <p class="email">📧 chef-departement-smu@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche :  la physique appliquée, les géosciences et l'environnement.</em></li>
                

            </p>
        </div>
    </div>
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/chef-mim.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Thierno Mouhamadan Mansour Sow</h3>
            <p class="grade">Chef de departement MIM</p>
            <p class="departement">Departement MIM</p>
            <p class="email">📧 chef-departement-mim@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : Les Mathématiques Appliquées et la Modélisation Mathématique.</em></li></p>
        </div>
    </div>
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/Alioune-coulibaly.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Alioune coulibaly</h3>
            <p class="grade">Directeur de L'UFR STA</p>
            <p class="departement">Departement MIM</p>
            <p class="email">📧 alioune.coulibaly@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : Les Mathématiques appliquées, avec un accent particulier sur les méthodes aléatoires. </em></li></p>
        </div>
    </div>
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/Sada-anne.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Sada Anne</h3>
            <p class="grade">Enseignant-chercheur</p>
            <p class="departement">Departement MIM</p>
            <p class="email">📧 sada.anne@uadb.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : SYSTEMES ET RESEAUX | chercheur en informatique et mathématique.</em></li></p>
        </div>
    </div>
    <div class="enseignant-card">
        <img src="{{ url_for('static', filename='images/Siny-ndoye.jpg') }}" alt="Photo enseignant">
        <div class="enseignant-info">
            <h3>Dr. Siny Ndoye</h3>
            <p class="grade">Enseignant-chercheur</p>
            <p class="departement">Departement SMU</p>
            <p class="email">📧 siny.ndoye@uam.edu.sn</p>
            <p class="domaines"><li><em>Domaines de recherche : Physique des Océanographies et Applications</em></li></p>
        </div>
    </div>



</section>
<p><strong></strong></p>
{% endblock %}