<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de l'UFR STA</title>
    <link rel="stylesheet" href="{{url_for('static' , filename='css/style.css')}}">
</head>
<body>
    <header>
        <h1><em>Formations de L'UFR STA</em></h1>
        <h2>UFR STA / Formations</h2>
    </header>
    <section id="formation">
        <p><em>L'UFR STA place le curseur sur des formations innovantes dans le domaine des STEMS, conformément aux recommandations de la Concertation Nationale sur l'Avenir de l'Enseignement Supérieur (CNAES). Elle développe un modèle pédagogique intégré qui aligne « Formation professionnelle » et « Formation par la Recherche ».</em></p>

    </section>