{% extends "base.html" %}
{% block titre %}Accueil{% endblock %}
{% block main %}

    <section class="banner">
        <h1>Formations de l'UFR STA</h1>
    </section>
    <section class="formations">
        <p>L’Unité de Formation et de Recherche en Sciences et Technologies Avancées (UFR STA) presente plusieurs formations :</p>
        <div class="formation">
            <h3> • Mathématiques, Physique et Informatique</h3>

            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 2 ans (S1 à S4)</p>
            <h4>Débouchés</h4>
            <ul>
    
                <li>Enseignant ou Enseignant-Chercheur</li>
                <li>Développement informatique</li>
                <li>Analyse de données</li>
                <li>Enseignement</li>
                <li>Recherche scientifique</li>
                <li>Ingénierie informatique</li>
            </ul>
            <h4>Modules</h4>
            <table>
                <thead>
                    <tr>
                        <th>Semestre 1 <br> Modules</th>
                        <th>Semestre 2 <br> Modules</th>
                        <th>Semestre 3 <br> Modules</th>
                        <th>Semestre 4 <br> Modules</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>Algorithmique</td>
                        <td>Langage C</td>
                        <td>Base de données</td>
                        <td>Systeme d'Exploitation</td>
                    </tr>
    
                    <tr>
                        <td>Logique combinatoire</td>
                        <td>Architecture des ordinateurs</td>
                        <td>POO</td>
                        <td>Algorithme Avancé</td>
                    </tr>
    
                    <tr>
                        <td>Electricite</td>
                        <td>Optique geometrique</td>
                        <td>Mecanique Generale</td>
                        <td>Mecanique Quantique</td>
                    </tr>
    
                    <tr>
                        <td>Mecanique du point</td>
                        <td>Magnetostatique</td>
                        <td>Thermodynamique</td>
                        <td>Relativite</td>
                    </tr>

                    <tr>
                        <td>Analyse 1</td>
                        <td>Analyse 2</td>
                        <td>Analyse 3</td>
                        <td>Analyse 4</td>
                    </tr>

                    <tr>
                        <td>Algebre 1</td>
                        <td>Algebre 2</td>
                        <td>Algebre 3</td>
                        <td>Algebre 4</td>
                    </tr>

                    <tr>
                        <td>Statistiques</td>
                        <td>Calcul numérique</td>
                        <td>Analyse matricielle</td>
                        <td>Probabilites</td>
                    </tr>
                </tbody>
            </table>


        </div>

        <div class="formation">
            <h3> • Mathématiques et Informatique Appliquées aux Sciences Sociales</h3>
        
            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 3 ans (S1 à S6)</p>
        
            <h4>Débouchés</h4>
            <ul>
                <li>Enseignant ou Enseignant-Chercheur</li>
                <li>Statistiques</li>
                <li>Analyse de données sociales</li>
                <li>Gestion de bases de données</li>
                <li>Recherche en sciences sociales</li>
                <li>Data Analyst</li>
            </ul>
            <h4>Modules</h4>
            <table>
                <thead>
                    <tr>
                        <th>Semestre 1 <br> Modules</th>
                        <th>Semestre 2 <br> Modules</th>
                        <th>Semestre 3 <br> Modules</th>
                        <th>Semestre 4 <br> Modules</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>Algorithmique</td>
                        <td>Structure de données</td>
                        <td>Base de données</td>
                        <td>Systeme d'Exploitation</td>
                    </tr>
    
                    <tr>
                        <td>Logique combinatoire</td>
                        <td>SQL</td>
                        <td>POO</td>
                        <td>Algorithme Avancé</td>
                    </tr>
    
                    <tr>
                        <td>Analyse economique</td>
                        <td>Microeconomie 1</td>
                        <td>Microeconomie 2</td>
                        <td>Econometrie</td>
                    </tr>
    
                    <tr>
                        <td>Macroeconomie fermee</td>
                        <td>Marchés financiers</td>
                        <td>Macroeconomie ouverte</td>
                        <td>Analyse des données</td>
                    </tr>

                    <tr>
                        <td>Comptabilite generale</td>
                        <td>Finance d'entreprise</td>
                        <td>Comptabilite de gestion</td>
                        <td>Recherche Operationnelle</td>
                    </tr>

                    <tr>
                        <td>Analyse 1</td>
                        <td>Analyse 2</td>
                        <td>Analyse 3</td>
                        <td>Analyse 4</td>
                    </tr>

                    <tr>
                        <td>Algebre 1</td>
                        <td>Algebre 2</td>
                        <td>Algebre 3</td>
                        <td>Algebre 4</td>
                    </tr>

                    <tr>
                        <td>Statistiques</td>
                        <td>Methodes quantitatives</td>
                        <td>Mathematiques financieres</td>
                        <td>Probabilites</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="formation">
            <h3> • Sciences de la Mer et du Littoral</h3>
        
            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 3 ans (S1 à S6)</p>
        
            <h4>Débouchés</h4>
            <ul>
                <li>Chargé de mission pêche ;</li>
                <li>Cadre écologue;</li>
                <li>Cadre Planificateur;</li>
                <li>Chargé de mission/ingénieur d’étude en environnement littoral et marin en laboratoires de recherche institutionnelle;</li>
                <li>Chercheur en biologie et écologie marine en laboratoires de recherche institutionnelle; </li>
                <li> Enseignant-Chercheur ou Chercheur dans le secteur public et/ou privé ;</li>
                <li>Responsable production aquacole ;</li>
                <li>Responsable environnement ;</li>
                <li>Création d’entreprise (bureau études) / startups;</li>
                <li>Technicien supérieur en Métrologie, production aquacole, aménagement et gestion des cotes ;</li>
            </ul>

            <h4>Modules</h4>
            <table>
                <thead>
                    <tr>
                        <th>Semestre 1 <br> Modules</th>
                        <th>Semestre 2 <br> Modules</th>
                        <th>Semestre 3 <br> Modules</th>
                        <th>Semestre 4 <br> Modules</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td>Algorithmique</td>
                        <td>Langage C</td>
                        <td>Base de données</td>
                        <td>Chimie organique</td>
                    </tr>
    
                    <tr>
                        <td>Logique combinatoire</td>
                        <td>Architecture des ordinateurs</td>
                        <td>POO</td>
                        <td>Chimie inorganique</td>
                    </tr>
    
                    <tr>
                        <td>Electricite</td>
                        <td>Optique geometrique</td>
                        <td>Mecanique Generale</td>
                        <td>Mecanique des fluides</td>
                    </tr>
    
                    <tr>
                        <td>Mecanique du point</td>
                        <td>Magnetostatique</td>
                        <td>Thermodynamique</td>
                        <td>Mecanique des sols</td>
                    </tr>

                    <tr>
                        <td>Analyse 1</td>
                        <td>Analyse 2</td>
                        <td>Analyse 3</td>
                        <td>Oceanographie cotiere</td>
                    </tr>

                    <tr>
                        <td>Algebre 1</td>
                        <td>Algebre 2</td>
                        <td>Algebre 3</td>
                        <td>Hydrographie</td>
                    </tr>

                    <tr>
                        <td>Statistiques</td>
                        <td>Calcul numérique</td>
                        <td>Analyse matricielle</td>
                        <td>Climat et Variabilite climatique</td>
                    </tr>

                    <tr>
                        <td>Geodynamique</td>
                        <td>Geologie maritime</td>
                        <td>Atomistique</td>
                        <td>RDM</td>
                    </tr>

                    <tr>
                        <td>Oceanographie</td>
                        <td>Biologie</td>
                        <td>Thermochimie</td>
                        <td>Ecologie marine</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="formation">
            <h3> • Physique et Applications</h3>
        
            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 1 ans (S5 à S6)</p>
        
            <h4>Débouchés</h4>
            <ul>
                <li>Enseignant ou Enseignant-Chercheur</li>
                <li>Énergie</li>
                <li>Électronique</li>
                <li>Télécommunications</li>
                <li>Recherche scientifique</li>
                <li>Enseignement</li>
            </ul>
            <h4>Modules</h4>
            <table>
                <thead>
                    <tr>
                        <th>Semestre 3 <br> Modules</th>
                        <th>Semestre 4 <br> Modules</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Physique Statique</td>
                        <td>Mecanique des fluides</td>
                    </tr>
                    <tr>
                        <td>Thermodynamique</td>
                        <td>Mecanique des milieux continus</td>
                    </tr>
                    <tr>
                        <td>Mecanique analytique</td>
                        <td>Optique Physique</td>
                    </tr>
                    <tr>
                        <td>Physique Quantique</td>
                        <td>Optique cristalline</td>
                    </tr>
                    <tr>
                        <td>Electromagnetisme</td>
                        <td>Electronique analogique</td>
                    </tr>
                    <tr>
                        <td>Mathematiques pour la Physique 1</td>
                        <td>Mathematiques pour la Physique 2</td>
                    </tr>
                    <tr>
                        <td>Methode numérique 1</td>
                        <td>Methode numérique 2</td>
                    </tr>
                    <tr>
                        <td>Thermochimie</td>
                        <td>Chimie organique</td>
                    </tr>
                    <tr>
                        <td>Physique Quantique</td>
                        <td>Chimie inorganique</td>
                    </tr>
                    <tr>
                        <td>Leadership</td>
                        <td>Electronique numérique</td>
                    </tr>
                    <tr>
                        <td>Anglais technique</td>
                        <td>Projet</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="formation">
            <h3>• Mathématiques et Modelisation</h3>
            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 1 ans (S5 à S6)</p>
        
            <h4>Débouchés</h4>
            <ul>
    
                <li>Enseignant ou Enseignant-Chercheur</li>
                <li>Développement informatique</li>
                <li>Analyse de données</li>
                <li>Enseignement</li>
                <li>Recherche scientifique</li>
                <li>Ingénierie informatique</li>
            </ul>

            <h4>Modules</h4>
            <table>
               <thead>
                    <tr>
                        <th>Semestre 5 <br> Modules</th>
                        <th>Semestre 6 <br> Modules</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Statistiques inferentielle</td>
                        <td>Optimisation non linéaire</td>
                    <tr>
                    </tr>
                        <td>Variable complexe</td>
                        <td>Calcul differentiel</td>     
                    </tr>
                    <tr>
                        <td>Analyse 5</td>
                        <td>Introduction aux EDP</td>
                    </tr>
                    <tr>
                        <td>Optimisation linéaire</td>
                        <td>Solveurs numériques</td>
                    </tr>

                    <tr>
                        <td>Mesure et Integration</td>
                        <td>Modélisation des données</td>
                    </tr>
                    
                    <tr>
                        <td>Initiation aux Solveurs</td>
                        <td>Introduction au calcul parallèle</td>
                    </tr>
                    <tr>
                        <td>Bases de données</td>
                        <td>Informatique pour les mathématiques</td>
                    </tr>
                    
                    <tr>
                        <td>Calcul intensif</td>
                        <td>I0T / IA</td>
                    </tr>
                    
                    <tr>
                        <td>Anglais technique</td>
                        <td>Projet tutoré</td>
                    </tr>
                    
                    <tr>
                        <td>Développement personnel</td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="formation">
            <h3>• Informatique Appliquée</h3>
            <p><strong>Niveau :</strong> Licence</p>
            <p><strong>Durée :</strong> 1 ans (S5 à S6)</p>
            
            <h4>Débouchés</h4>
            <ul>
                <li>Enseignant ou Enseignant-Chercheur</li>
                <li>Développement informatique</li>
                <li>Analyse de données</li>
                <li>Enseignement</li>
                <li>Recherche scientifique</li>
                <li>Ingénierie informatique</li>
            </ul>
            <h4>Modules</h4>
            <table>
                <thead>
                    <tr>
                        <th>Semestre 3 <br> Modules</th>
                        <th>Semestre 4 <br> Modules</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                           <td>Analyse de données</td>
                           <td>Securite des systemes</td>
                    </tr>
                    <tr>
                           <td>Recherche Operationnelle</td>
                           <td>Introduction au Routage</td>
                    </tr>
                    <tr>
                           <td>Programmation Web</td>
                           <td>Developpement d'applications mobiles</td>
                    </tr>
                    <tr>
                           <td>Programmation Data science</td>
                           <td>JavaScript et Framework</td>
                    </tr>
                    <tr>
                           <td>Programmation Java Avancé</td>
                           <td>Services Reseaux</td>
                    </tr>
                    <tr>
                           <td>Reseaux</td>
                           <td>Cloud</td>
                    </tr>
                    <tr>
                           <td>Internet des objets</td>
                           <td>Projets tutores</td>
                    </tr>
                    <tr>
                           <td>Genie logiciel</td>
                           <td>Anglais technique</td>
                    </tr>
                    <tr>
                           <td>Modelisation UML</td>
                    </tr>
                    <tr>
                           <td>Anglais technique</td>
                    </tr>
                    <tr>
                           <td>Technique de Redaction</td>
                    </tr>    
                </tbody>
            </table>
            <p>Pour le niveau Master plusieurs formations seront proposes :</p>
            <ul>
                <li>Big data, Internet des Objets et Intelligence artificielle ;</li>
                <li>Analyse numérique et modélisation  ;</li>
                <li>Cyber Security ;</li>    
                <li>Méthodes de réalisations des ouvrages marines ;</li>  
                <li>Géophysique marine et explorations ;</li>  
                <li>Modélisation des Océans et du Climat ;</li>
                <li>Economie Bleue ;</li>  
                <li>Transition énergétique et développement durable ;</li>
                <li>Robotique ;</li>
                <li>Nanotechnologie –Nanoscience ;</li>
                <li>Physique Nucléaire et Applications ;</li>
                <li>Physique des Matériaux et des fluides ;</li>
                <li>Bio-informatique ;</li>
            </ul> 
        </div>
    </section>
    <section class="admission">
        <h3>Conditions d'admission</h3>
        <p>Ces filieres presentent generalement les memes criteres d'admission :</p>
        <table>
            <tr>
                <th>FILIERES</th>
                <th>SERIES AU BAC</th>
            </tr>
            <tr>
                <td>Mathématiques, Physique et Informatique MPI</td>
                <td>S1, S1A, S2, S2A, S3 et S4</td>
            </tr>
            <tr>
                <td>Sciences de la Mer et du Littoral SML</td>
                <td>S1, S1A, S2, S2A, S3 et S4</td>
            </tr>
            <tr>
                <td>Mathématiques Appliquées aux Sciences Sociales MASS</td>
                <td>S1, S1A, S2, S2A, S3, S4 et STEG</td>
            </tr>
        </table>
    </section>

    <br>
{% endblock %} 
   