{% extends "base.html" %}
{% block titre %}Accueil{% endblock %}
{% block main %}

    <section class="banner">
        <h1>Accueil</h1>
    </section>
    <div class="ufr">
        <img src="../static/images/ufr sta.png" alt="salle" class="img-ufr">
        <section class="Presentation">
            <h1>Mot du directeur</h1>
            <p>Chers étudiants, partenaires et visiteurs,</p>
            <p>Notre ambition est de faire de l’UFR STA un pôle d’excellence en sciences, technologies et innovation en Afrique. Grâce à des formations modernes, un corps professoral qualifié et des partenariats solides, nous préparons nos étudiants aux défis du monde professionnel et du développement numérique.</p>
            <p>Nous vous invitons à découvrir nos formations, nos activités et nos projets à travers cette plateforme.</p>
            <p>Ensemble, construisons l’avenir par la science, la technologie et l’innovation.</p>

            <h1>Presentation</h1>
            <p>L’Unité de Formation et de Recherche en Sciences et Technologies Avancées (UFR STA) de l’Université Amadou Mahtar Mbow (UAM) ambitionne d’être un creuset d’excellence académique pour le développement des talents, ainsi qu’un véritable hub scientifique, technologique, numérique et d’innovation de référence en Afrique, au service des besoins de développement socio-économique du Sénégal et au-delà.</p>
            <p>L’UFR STA a pour mission de former des étudiants compétents, innovants et capables de répondre aux défis scientifiques et technologiques du monde moderne. Grâce à des formations modernes et professionnalisantes, elle accompagne les apprenants dans leur parcours académique et leur insertion professionnelle.</p>
            <p>L’UFR STA met également l’accent sur :
                <ul>
                    <li>la recherche scientifique et l’innovation;</li>
                    <li>les technologies numériques;</li>
                    <li>l’intelligence artificielle et la cybersécurité;</li>
                    <li>les conférences, séminaires et activités scientifiques</li>
                </ul>
            </p>
            <p>À travers ses programmes et ses activités, l’UFR STA contribue activement à la formation d’une nouvelle génération de leaders, d’ingénieurs, de chercheurs et d’entrepreneurs capables d’accompagner la transformation numérique et scientifique du Sénégal et de l’Afrique.</p>
            
        </section>
    </div>
    <section class="actualite">
        <h1>Dernieres actualites</h1>
        <p>L’UFR STA a lancé recemment une appel à candidatures pour le recrutement d'un enseignant en Mathématiques appliquées, spécialité : Statistique, Analyse des Données Massives (Big Data) et/ou Économétrie.</p>
    </section>   
{% endblock %}
